<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.article.mapper.ArticleMapper">

    <resultMap id="article" type="com.example.demo.article.domain.Article">
        <id property="id" column="id" />
        <result property="memberId" column="member_id" />
        <result property="title" column="title" />
        <result property="author" column="author" />
        <association property="articleContent" javaType="ArticleContent" resultMap="articleContent" />
    </resultMap>

    <resultMap id="articleContent" type="ArticleContent">
        <result property="content" column="content" />
        <association property="contentType" javaType="ArticleContentType" resultMap="articleContentType" />
    </resultMap>

    <resultMap id="articleContentType" type="ArticleContentType">
        <result property="contentType" column="content_type" />
    </resultMap>

    <select id="getArticle" resultMap="article">
        SELECT
            id,
            member_id,
            title,
            author,
            content_type,
            content
        FROM article a
        WHERE id = #{id};
    </select>

    <insert id="saveArticle" parameterType="map" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO article (member_id, title, author, content_type, content)
            VALUES (#{article.memberId}, #{article.title}, #{article.author}, #{article.articleContent.contentType}, #{article.articleContent.content});
    </insert>

    <update id="updateArticle" parameterType="com.example.demo.article.domain.Article">
        UPDATE article
        SET title = #{title},
            content = #{articleContent.content}
        WHERE id = #{id}
    </update>

    <delete id="deleteArticle" parameterType="map">
        DELETE article
        WHERE id = #{id}
    </delete>

</mapper>